<% include ../layout/header-admin.ejs %>

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <h2>Customer Name:
            <%= order.name %>
        </h2>
        <p>All of Order:</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <h4>

                            </h4>
                        </th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% var id = 0; order.items.forEach(function(itemOrder){ %>
                    <tr>
                        <td>
                            <%= id++ %>
                        </td>
                        <td>
                            <div class="block2-pic hov-img0">
                                <img src="/assets/images/<%= itemOrder.item.img.img1 %>" alt="IMG-PRODUCT">
                            </div>
                        </td>
                        <td>
                            <%= itemOrder.item.name %>
                        </td>
                        <td>$
                            <%= itemOrder.item.price %>
                        </td>
                        <td>
                            <%= itemOrder.amount %>
                        </td>
                        <td>
                            $
                            <%= itemOrder.price %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <h2 class="float-right">
                $
                <%= order.cart.totalPrice %>
            </h2>
        </div>

    </div>
</section>

<% include ../layout/footer-admin.ejs %>